@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-shadow: none;
}

body {
  background-color: #edf2ef;
  font-family: "poppins", sans-serif;
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container,
#taskForm,
#taskTable,
h1,
#clearBtn,
#btn {
  animation: slideDown 1s ease-in-out forwards;
  opacity: 0;
  transform: translateY(-30px);
}

.container {
  animation-delay: 0.3s;
}

h1 {
  animation-delay: 0.5s;
}

#taskForm {
  animation-delay: 0.7s;
}

#taskTable {
  animation-delay: 1s;
}

#btn,
#clearBtn {
  animation-delay: 1.2s;
}

.container {
  position: relative;
  height: 550px;
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: flex-start;
}

.container:hover {
  box-shadow: 10px 0px 15px rgba(0, 0, 0, 0.3);
}

.container h1 {
  color: #a03232;
  text-align: left;
  font-size: 24px;
}

#taskForm {
  margin-top: 20px;
  text-align: left;
  border-radius: 20px;
  font-family: poppins;
}

#taskInput {
  width: 50%;
  height: 50px;
  text-align: center;
  border-radius: 20px;
  font-family: poppins;
}

#taskList {
  margin-top: 20px;
  list-style-type: disc;
  padding: 0;
  border-radius: 20px;
  background-color: #f5f5f5;
  overflow-y: auto;
  text-align: left;
}

#taskTable {
  position: absolute;
  text-align: left;
  width: 70%;
  border-collapse: collapse;
  margin-top: 30px;
}

#taskList {
  position: left;
}

#list-span {
  color: blue;
}

.ri-list-check {
  font-size: 20px;
  color: black;
  margin-left: 10px;
}

#btn {
  position: relative;
  border: none;
  font-size: 30px;
  transform: translateY(8px);
  cursor: pointer;
}

#clearBtn {
  margin-left: 20px;
  position: relative;
  border: none;
  font-size: 30px;
  transform: translateY(8px);
  cursor: pointer;
}

#add,
#clear {
  position: relative;
  font-size: 15px;
  font-family: poppins;
  margin-bottom: 50px;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}
